*{
    margin: 0px;
    padding: 0px;
}

/* common style */
.box-1-title {
    color: #0E0E0E;
   margin: 15px 0px;
}
.all-box-description{
    font-size: 13px;
    color: rgba(14, 14, 14, 0.7);
}
.box-btn{
    margin-top: 40px;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    color: white;
}

/*      prac */

/* nav bar style */
.nav-bar{
    margin: 30px 160px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-btn{
    padding: 8px 15px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 5px;
    background-color: transparent;
}

/* banner style */

.banner{
    margin: 30px 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    /* background: linear-gradient(#006A50,#0E0E0E,#0E0E0E); */
    background-color: #C6E4D6;
    border-radius: 20px;
}
.banner-content h4{
    color: #2f3b2d;
    padding-bottom: 20px;
}

.banner-title{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
}

.banner-btn{
    background-color: #006A50;
    padding:10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
}
.banner-img{
    padding-bottom: 40px;
}

/* vission section style  */
.vission{
    margin: 100px 160px;
}
.box-container{
    display: flex;
    gap: 15px;
}
.vision-title{
    color: #0E0E0E;
    margin-bottom: 20px;
}
.vission-description p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    margin-bottom: 20px;
}
.box-1{
    background-color:rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 8px;
}
.box-1-btn{
    background-color: #5490F5;
}

.box-2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 8px;
}
.box-2-btn{
    background-color: #006A50;
}
.box-3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 8px;
}
.box-3-btn{
    background-color: #FFC239;
}